<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="contenedor">
        <header class="header">
            <div class="logo">
                <p>BIK<span>FAST</span></p>
            </div>

            <div class="bicicleta">
                <img src="/static/imagenes/bicicletaFondo.png" alt="Menu bicicleta">
            </div>
            <nav class="menu">
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Menu</a></li>
                    <li><a href="#">Servicios</a></li>
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#">Galeria</a></li>
                    <li><a href="#">Iniciar sesion</a><a href="#">Registrar</a></li>
                </ul>
            </nav>
        </header>

        <aside class="presentacion">
            <div class="informacion">
                <h1>Renta la bicicleta acomodad a tus necesidades</h1>
                <div>
                    <p>Encuentra la comodidad y la facilidad de traslado con nuestros servicios.</p>
                    <p>Porque siempre pensamos en ti y felicidad.</p>
                </div>

                <div class="informacion--boton">
                    <button type="button">Rentar bicicleta</button>
                </div>

                <div class="presentacion--imagen">
                    <img src="" alt="Imagen presentacion">
                </div>
            </div>
        </aside>

        
    </div>
</body>
</html>